<div class="container">
  <img width="450" src="/assets/pixy-logo.svg" />
  <div class="instructions">
    <h5>Take this JSON and create a carousel of card components filled with the fetched JSON data.</h5>
    <small>Please be sure to use best practices for any secrets, styling, html, grammar, spelling, etc.</small>
  </div>
  <pre>
    <code>Message: {{ cards$ | async | json }}</code>
  </pre>

  <br />
  <button class="is-outlined" [color]="Colors.Primary" [size]="Sizes.Medium">
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <span>Example Download Button</span>
  </button>
  <br />
</div>
